@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.flex-code, .main .header .header-navbar .header-navbar-bottom, .main .header .header-navbar .header-navbar-top .header-navbar-top--social, .main .header .header-navbar .header-navbar-top {
  display: flex;
  justify-content: space-between;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

.main {
  min-height: 100vh;
}
.main .header {
  padding: 20px 0;
}
.main .header .header-navbar {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--logo a {
  font-family: "Cabin", sans-serif;
  font-size: 2em;
  transition: color 0.3s ease-in-out;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--logo a:hover {
  color: #8bc34a;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social {
  align-items: center;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social .header-navbar-top--social-links a {
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social .header-navbar-top--social-links a:hover {
  color: #495057;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social .header-navbar-top--search input {
  height: 45px;
  width: 240px;
  border-radius: 100px;
  text-indent: 15px;
  border: 1px solid #fff;
  margin: 0 20px;
  outline: none;
  font-family: "Cabin", sans-serif;
  font-size: 1em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
  transition: border 0.3s ease-in-out;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social .header-navbar-top--search input::placeholder {
  color: #495057;
  font-size: 1em;
  font-family: "Cabin", sans-serif;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social .header-navbar-top--search input:focus {
  border-color: #8bc34a;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social .header-navbar-top--search .btn {
  padding: 13px 20px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #000;
  color: #fff;
  transition: background 0.3s ease-in-out;
}
.main .header .header-navbar .header-navbar-top .header-navbar-top--social .header-navbar-top--search .btn:hover {
  background: #8bc34a;
}
.main .header .header-navbar .header-navbar-bottom {
  list-style: none;
  width: 700px;
}
.main .header .header-navbar .header-navbar-bottom li a {
  text-transform: uppercase;
  font-family: "B612 Mono", monospace;
  font-size: 0.8em;
}
.main .divider {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.main .slider {
  padding: 30px 0;
  position: relative;
}
.main .slider .slider-container {
  display: flex;
  height: 400px;
  overflow-x: hidden;
  margin-top: 30px;
}
.main .slider .slider-container .slider-c {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.main .slider .slider-container .slider-c.slider-container--two {
  display: none;
}
.main .slider .slider-container .slider-c .slider-container--one__img {
  width: 50%;
  height: 350px;
}
.main .slider .slider-container .slider-c .slider-container__content {
  width: 50%;
  height: 350px;
  background: #f8f9fa;
  padding: 35px 45px;
  font-family: "Cabin", sans-serif;
}
.main .slider .slider-container .slider-c .slider-container__content h4 {
  font-size: 0.3em;
  color: #495057;
  font-weight: 300;
  text-transform: uppercase;
}
.main .slider .slider-container .slider-c .slider-container__content h2 {
  font-size: 0.7em;
  width: 420px;
  font-weight: 300;
  padding: 6px 0;
  text-transform: capitalize;
}
.main .slider .slider-container .slider-c .slider-container__content .slider-text {
  font-size: 0.37em;
  width: 450px;
  line-height: 25px;
  padding: 13px 0;
  color: #495057;
}
.main .slider .slider-container .slider-c .slider-container__content .slider-text-3, .main .slider .slider-container .slider-c .slider-container__content .slider-text-4 {
  font-size: 0.34em;
  margin: 6px 0;
  color: #495057;
}
.main .slider .slider-container .slide-btn {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  color: #495057;
  font-size: 1.2em;
  outline: none;
}
.main .slider .slider-container .slide-btn#left-btn {
  left: 20px;
}
.main .slider .slider-container .slide-btn#right-btn {
  right: 20px;
}

/*# sourceMappingURL=app.css.map */
