@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
$primary-font: 'Cabin', sans-serif;
$secondary-font: 'B612 Mono', monospace;
$green: #8bc34a;
$dark : #000;
$white: #fff;
$gray: #495057;

*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

.flex-code{
  display: flex;
  justify-content: space-between;
}

a{
  color: $dark;
  text-decoration: none;
}

button{
  cursor: pointer;
}

img{
  height: 100%;
  width: 100%;
}

.main{
  min-height: 100vh;

  // Header -- includes navbar
  .header{
    padding: 20px 0;


    .header-navbar{
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header-navbar-top{
        @extend .flex-code;

        .header-navbar-top--logo{
          a{
            font-family: $primary-font;
            font-size: 2em;
            transition: color .3s ease-in-out;

            &:hover{
              color: $green;
            }
          }
        }

        .header-navbar-top--social{
          @extend .flex-code;
          align-items: center;
          

          .header-navbar-top--social-links{
            a{
              margin: 0 10px;
              transition: color .3s ease-in-out;

              &:hover{
                color: #495057;
              }
            }
          }

          .header-navbar-top--search{
            input{
              height: 45px;
              width: 240px;
              border-radius: 100px;
              text-indent: 15px;
              border: 1px solid $white;
              margin: 0 20px;
              outline: none;
              font-family: $primary-font;
              font-size: 1em;
              box-shadow: 0 1px 0px rgba(0,0,0,0.3);
              transition: border .3s ease-in-out;

              &::placeholder{
                color:#495057;
                font-size: 1em;
                font-family: $primary-font;
              }

              &:focus{
                border-color: $green;
              }
            }

            .btn{
              padding: 13px 20px;
              border-radius: 30px;
              border: 1px solid transparent;
              background: $dark;
              color: $white;
              transition: background .3s ease-in-out;

              &:hover{
                background: $green;
              }
            }
          }


        }
        
      }

      .header-navbar-bottom{
        list-style: none;
        @extend .flex-code;
        width: 700px;

        li{
          a{
            text-transform: uppercase;
            font-family: $secondary-font;
            font-size: 0.8em;
          }
        }
      }

    }
  }

  .divider{
    border-top: 1px solid rgba(0,0,0,0.15);
  }

  // slider
  .slider{
    padding: 30px 0;
    position: relative;
    
    .slider-container{
      display: flex;
      height: 400px;
      
      overflow-x: hidden;
      // width: 2200px;
      margin-top: 30px;
      

      .slider-c{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;

        &.slider-container--two{
          display:  none;
        }

        .slider-container--one__img{
          width: 50%;height: 350px;
        }

        .slider-container__content{
          width: 50%;
          height: 350px;
          background: #f8f9fa;
          padding: 35px 45px;
          font-family: $primary-font;

          h4{
            font-size: 0.3em;
            color: $gray;
            font-weight: 300;
            text-transform: uppercase;
          }

          h2{
            font-size: 0.7em;
            width: 420px;
            font-weight: 300;
            padding: 6px 0;
            text-transform: capitalize;
          }

          .slider-text{
            font-size: 0.37em;
            width: 450px;
            line-height: 25px;
            padding: 13px 0;
            color: $gray;
          }

          .slider-text-3, .slider-text-4{
            font-size: 0.34em;
            margin: 6px 0;
            color: $gray;
          }
        }
      }

      .slide-btn{
        position: absolute;
        top: 50%;
        background: none;
        border: none;
        color: $gray;
        font-size: 1.2em;
        outline: none;

        &#left-btn{
          left: 20px;
        }

        &#right-btn{
          right: 20px;
        }
      }
    }
  }
}

